<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to the SlugLife
      </h1>
    </div>
  </div>
</section>


  <div style="width:100%; height:auto;" id="bg-img">
  <!-- style="width:100%; height:100%;" -->
  </div>

<% end %>





<%= yield %>

<%= render "instruments/footer" %>
