<% content_for :footer do %>
<!-- Footer -->
<footer class="footer">
  <div class="columns">
  <div class="column">
    <div class="support">
      Support <br><br>
    </div>
    Contact Us: notthebookstorehelp@gmail.com <br><br>
    <%= link_to 'Sizing Guide', new_instrument_path %> <br><br>
    <%= link_to 'Policy and Terms', new_instrument_path %>
  </div>
  <div class="column">
    <div class="support">
      Information <br><br>
    </div>
    <%= link_to 'About', new_instrument_path %> <br><br>
    Support a your fellow slugs

  </div>
  </div>
</footer>
<% end %>
