<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Contribute an Idea!
      </h1>
      <h2 class="instrument-ContributeHeader">
        Think you have a better design? Contribute it below with a sketch and
        description! We will review all designs and make products from our favorite submissions. (Royalties included on chosen designs) <br> <br>Any inappropriate submissions will be deleted. <br> <br>For further questions contact <a href="mailto:unofficialbookstore@gmail.com" title="send an email to unofficialbookstore@gmail.com">unofficialbookstore@gmail.com</a>
      </h2>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', instrument: @instrument %>
</div>
